#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabla tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabla tr:hover {background-color: #ddd;}
  
  #tabla th {

    text-align: left;
    

  }
  caption{
    padding: 0.3em;
    color: #fff;
    background-color: #AB2206;

  }

  .float-right{
    float: right;
    padding-left: 50%;
    text-align: right;
    font-size: 12px;
  }
  .titulo{
    width: 30%;
  }

  .headt{
  
    background-color: #AB2206;
  }
  .center{
    text-align: center;
    color: #fff;
  }